svg {
	/*background-color: #eee;*/
	overflow: scroll;
}

::-webkit-scrollbar {
	display: none;
}

#svgParent {
	width: 100%;
	height: 540px;
	overflow: scroll;
}

.fullwidth {
	width: 100%;
	/*background-color: maroon;*/
	padding: 0;
}